<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>

<h3>Вы не ввели параметры в URL или ввели их неверно</h3>
<h3>Для использования калькулятора, дополните URL запрос: ?a=123&b=456&action=(любую операцию из списка ниже, без скобок)</h3>
<h5>Вместо 123 и 456 введите свои цифры</h5>
<h5>Пример: http://localhost:8080/first/calculator?a=10&b=5&action=addition</h5>

<p>multiplication = умножение</p>
<p>addition = сложение</p>
<p>subtraction = вычитание</p>
<p>division = деление</p>

</body>
</html>